html{
    min-height: 100%;
}

body {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: #eee;
    background: url(../images/bg.jpg) left top no-repeat;
    background-size: 100% 100%
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, .15);
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0, 0, 0, .4);
}

.header {
    position: static;
    background-color: #ececec;
    padding: 0 30px;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    margin:0;
}

.header-fixed{
    position: fixed;
    background: url(../images/start_bg.png) left 10% no-repeat;
    background-size: 100% 600%;
    opacity: .8 !important;
    filter: Alpha(Opacity=80);
    padding: 0 15px;
    /*color: #005065;*/
    /*color: #ececec;*/
    font-weight: bold;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 0px;
    z-index: 1008;
}

.header-fixed a,
header a {
    text-decoration: none;
    color: inherit;
    font-size: .9em;
}

.main-content{
    background-color: white;
    opacity: .9 !important;
    filter: Alpha(Opacity=90);
}
.contentTitle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contentTitle .title, .contentTitle .dock {
    margin-top: 0.5em;
    vertical-align: middle;
    display: inline-block;
}

.contentTitle .dock {
    margin-left: 20px;
}

.ps-block {
    padding: 10px;
    margin: 2px;
    border: #ddd solid 1px;
    background-color: #fff;
    border-radius: 0 12px 0 12px;
    box-shadow: none;
    position: relative;
    opacity: 0.8 !important;
    filter: Alpha(Opacity=80);
}

.ps-block .title, .ps-block .title a, .ps-block .title a:hover {
    display: inline-block;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none
}

.ps-block .dock {
    margin-left: 20px;
    display: inline-block;
}

.ps-block .body {
    margin-top: 10px;
}

.brick-label {
    max-width: 50%;
    font-size: 12px;
    position: absolute;
    bottom: -10px;
    left: 0px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    opacity: 0.8 !important;
    filter: Alpha(Opacity=80);
}

.img-container{
    background-color: lightgray;
}
.preview {
    opacity: 0.9 !important;
    filter: Alpha(Opacity=90);
}

.preview .pop {
    top: 0px;
    position: absolute;
    z-index: 99999;
}

.preview .ctl {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 10px;
    height: 20px;
    opacity: 1.0 !important;
    filter: Alpha(Opacity=100);
}
.status{
    width: 14px;
    height: 14px;
    margin-top: -2px;
    display: inline-block;
    vertical-align:middle;
    background-image: url(../images/status.jpg);
}
.status .off{
}
.status.on{
    background-position: -42px 0;
}
.status.abort{
    background-position: 56px 0;
}
.callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.callout p:last-child {
    margin-bottom: 0
}

.callout code {
    background-color: #fff;
    border-radius: 3px
}

.callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f
}

.callout-danger h4 {
    color: #d9534f
}

.callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e
}

.callout-warning h4 {
    color: #f0ad4e
}

.callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de
}

.callout-info h4 {
    color: #5bc0de
}

.weChatBindTable {
    width: 100%;
    text-align: center;
    min-width: 378px; /*margin-top:-20px;*/
    background-color: #fff;
    opacity: 0.9 !important;
    filter: Alpha(Opacity=90);

}

.weChatBindTable thead {
    font-weight: bold;
    background-color: #f5f5f5;
    height: 25px;

}

.weChatBindTable thead > tr > td div {
    border-right: 2px solid #E5E5E5;
}

.weChatBindTable tr {
    border-bottom: 1px solid #E5E5E5;
}

.weChatBindTable td {
    height: 50px;
    line-height: 20px;
}

.weChatBindTable th {
    height: 50px;
    line-height: 20px;
    text-align: center;
}

.weChatBindTable-beizhu {
    text-align: center;
    margin: 0 auto;
    border: none;
    background-color: transparent;
}